name: Bump Tag Version

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  versionbump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Compare app version to tag version
        id: get_latest_version
        run: |
          APP_VERSION=$(grep -oP 'Version = "\K[^"]+' cmd/root.go)
          LATEST_TAG=$(git tag -l --sort=-version:refname | head -n 1)
          TAG_VERSION="${LATEST_TAG#v}"
          
          echo "Tag version: $TAG_VERSION"
          echo "App version: $APP_VERSION"
          
          # Check if APP_VERSION is greater than TAG_VERSION
          # First, sort them and get the highest
          sorted_versions=$(printf '%s\n%s\n' "$APP_VERSION" "$TAG_VERSION" | sort -V)
          lowest_version=$(echo "$sorted_versions" | head -n 1)

          if [ "$lowest_version" = "$TAG_VERSION" ] && [ "$APP_VERSION" != "$TAG_VERSION" ]; then
            echo "APP_VERSION is greater than TAG_VERSION"
            echo "NEW_TAG_VERSION=$APP_VERSION" >> $GITHUB_ENV
          else
            echo "APP_VERSION is not greater than TAG_VERSION (equal or lower)"
            exit 0
          fi

      - name: Create new tag
        env:
          GITHUB_TOKEN: ${{ secrets.AUTH_TOKEN }}
        if: ${{ env.NEW_TAG_VERSION }}
        run: |
          NEW_TAG="v${{ env.NEW_TAG_VERSION }}"
          echo "Creating new tag: $NEW_TAG"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git tag -a $NEW_TAG -m "Release $NEW_TAG"
          git push origin $NEW_TAG
